[Desktop Entry]
Name=COSMIC Files
Comment=File manager for the COSMIC desktop
Exec=cosmic-files %U
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicFiles
Categories=COSMIC;Utility;FileManager;
Keywords=Folder;Manager;
MimeType=inode/directory;application/gzip;application/x-compressed-tar;application/x-tar;application/zip;application/x-bzip;application/x-bzip-compressed-tar;application/x-bzip2;application/x-bzip2-compressed-tar;application/x-xz;application/x-xz-compressed-tar;
